<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-4">
            <h1 class="text-center login-title">Login</h1>
            <div class="account-wall">
                <form class="form-signin" id="login">
                    <input type="text" [(ngModel)]="user.email" name="email" class="form-control" placeholder="Email" required autofocus>
                    <input type="password" [(ngModel)]="user.password" name="password" class="form-control" placeholder="Password" required>
                    <button class="btn btn-lg btn-primary btn-block" 
                            type="submit"
                            [disabled]="!user.email.length || !user.password.length"
                            (click)="login()"
                            >Sign in</button>
                    <a href="#" class="pull-right need-help" (click)="help()" >Need help? </a><span class="clearfix"></span>
                    <div class="alert alert-danger" [hidden]="!hasError" role="alert"><p>Error trying to authenticate</p></div>
                </form>
            </div>
            <a href="#" class="text-center new-account">Create an account</a>
        </div>
    </div>
</div>